name: Update Homebrew formula

on:
  release:
    types: [published]

jobs:
  homebrew:
    runs-on: ubuntu-latest
    steps:
      - name: Update formula
        uses: mislav/bump-homebrew-formula-action@v3
        with:
          formula-name: mk
          homebrew-tap: marcelocantos/homebrew-tap
          download-url: https://github.com/marcelocantos/mk/archive/refs/tags/${{ github.event.release.tag_name }}.tar.gz
        env:
          COMMITTER_TOKEN: ${{ secrets.HOMEBREW_TAP_TOKEN }}
